.carousel-container {
    display: flex;
    justify-content: center;
  }

#project-carousel {
    max-width: 800px;
}

@media (max-width: 960px) {
    #project-carousel {
        max-width: 400px;
    }
}