.projects-container {
    color:#fff;
}

.projects-container h2{
    display:flex;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h3 {
    margin-bottom: 1%;
}

.project p {
    margin-top: 1%;
}