.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


.intro h1 {
    color:aliceblue;
    letter-spacing: .4em;
}

.intro h2 {
    background-color: transparent;
    letter-spacing: .2em;
}

.intro h2 span {
    color:rgb(248, 95, 95);
    letter-spacing: .2em;
}