.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.intro img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}

.text_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-align-last: center;
    margin: 0 3%;
}

.text_container h1, .text_container {
    color: #fff;
}

.text_container span {
    color: #ffa500;
}

@media (max-width: 960px) {
    .intro {
        flex-direction: column;
    }

    .intro img {
        width: 200px;
        height: 200px;
    }
}