.section-container {
    margin-top: 5%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.section-container img {
    margin-left: 2%;
    overflow: hidden;
}

.tool-text-container h1 {
    font-size: x-large;
    font-weight: 400;
    font-style:italic;
    text-align: center;
    text-align-last: center;
    color:#fff;
}

.tool-description {
    margin-top: 7%;
    font-size: large;
    font-style: italic;
    color:#fff;
}


.img-container {
    display:flex;
    padding: .25%;
}

@media (max-width: 960px) {
    .section-container {
        margin-right: 0;
    }

    .img-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }
}