.section-container {
    margin-right: 6%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.section-container img {
    margin-left: 2%;
    overflow: hidden;
}

.tool-text-container h1 {
    font-size: x-large;
    font-weight: 400;
    font-style:italic;
    text-align: center;
    text-align-last: center;
    color:#fff;
}

.img-container {
    display:flex;
    padding: .25%;
    margin-bottom: 2%;
}

@media (max-width: 960px) {
    .section-container {
        margin-right: 0;
    }

    .img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
}