.header-container {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.linkedin-button {
    filter: invert(1);
}

.button-container :hover {
    cursor: pointer;
}