html body {
  position: relative;
  left: -10%;
  color: #242424;
  background-image: url(src/assets/bg/bg.svg);
  background-size: cover;
  min-height: 100%;
  height: auto;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wrapper {
  width: 100%;
}

@media (max-width: 960px) {
  html body {
    left: 0%;
    background-image: none;
    background-color: #242424;
  }
}
