html body {
  color: aliceblue;
  background: url("./assets/bg/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  height: auto;
}
