.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 10%;
    margin-top: -8%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.item img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.item h3, .item p {
    margin-left: 5%;
    margin-right: -100%;
    order: 2;
}

.item h3 {
    letter-spacing: .4em;
}

.item p {
    letter-spacing: .1em;
}

.item .details {
    display: flex;
    flex-direction: column;
}